.loading-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-image: url(/login-background.svg);
    height: 100vh;
    background-size: cover;
;
}
.loading-text {
    color: #FFFFFF;
}
p {
    color: #FFFFFF;
}
